@media (max-width: 768px) {
    body {
      background-color: rgb(0, 0, 0);
      font-size: 16px;
      height: 100vh;
      margin: 0;
    }
  }
  
  @media (min-width: 768px) {
 
    body {
      display: none; 
    }
}

.Emri{
    text-align: center;
    color: white;
    position: relative; 
    margin: 20px;
}

.Emri h1{
    margin: 0%;
}

.Emri p{
    margin: 0%;
}

.butoni {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.butoni .element button{
    width: 100%;
    margin-bottom: 15px;
    width: 40%;
    border-radius: 50px;
    border-style: none;
    margin: 12px;
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
}

.butoni .element .para{
    background-color: #f0b27a ;
    color: white;
}

.butoni .element  .para:hover{
    background-color: #f5cba7;
    transform: scale(0.95);
}

.butoni .element  .para:active{
    background-color: #fae5d3 ;
    transform: scale(0.95);
}

.butoni .element  .dyta:hover{
    background-color: rgb(221, 221, 221);
    transform: scale(0.95);
}

.butoni .element  .dyta:active{
    background-color: #b6b6b6 ;
    transform: scale(0.95);
}

.foto img{
    border-radius: 30px;
    margin-top: 60px;
}
.rethnesh {
    background: linear-gradient(135deg, #f0b27a, #f39c12);
    padding: 1px 20px; /* Hapësirë lart-poshtë, maj-djathtë */
    text-align: center;
    color: #fff;
    margin-top: 80px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0 -5px 30px rgba(0, 0, 0, 0.2);
  }

  .rethnesh h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .rethnesh p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .icons {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 30px; 
    margin-bottom: 20px;
  }

  .icons a {
    text-decoration: none;
    color: #fff;
    font-size: 30px; 
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .icons a:hover {
    color: #555;  
    transform: scale(1.2) rotate(-5deg);
  }
  .phone-number {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
  }

  .phone-number i {
    margin-right: 10px;
    color: #fff;
  }